<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>House pricing predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>House price prediction</h1>
        </div>
    </div>

    <!--<form action="/predict" method="post" id="realestate_form">-->
    <form id="realestate_form">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="building_levels">Building Levels</label>
                <input type="number" class="form-control" id="building_levels" name="building_levels"
                       placeholder="1..10...">
            </div>
            <div class="form-group col-md-8">
                <label for="building_material">Building Material</label>
                <select id="building_material" class="form-control" name="building_material">
                    <option selected>Choose...</option>
                    {% for opt in props.mat %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="comfort">Comfort</label>
                <select id="comfort" class="form-control" name="comfort">
                    <option selected>Choose...</option>
                    {% for opt in props.comfort %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="cond">Condition</label>
                <select id="cond" class="form-control" name="cond">
                    <option selected>Choose...</option>
                    {% for opt in props.cond %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="floor">Floor</label>
                <input type="number" class="form-control" id="floor" placeholder="0..10..." name="floor">
            </div>
            <div class="form-group col-md-8">
                <label for="heating">Heating</label>
                <select id="heating" class="form-control" name="heating">
                    <option selected>Choose...</option>
                    {% for opt in props.heating %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="parking">Parking</label>
                <select id="parking" class="form-control" name="parking">
                    <option selected>Choose...</option>
                    {% for opt in props.parking %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1139. Budapest, Váci út 99."
                       name="address">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="rooms_whole">Rooms (whole)</label>
                <input type="number" class="form-control" id="rooms_whole" placeholder="1..5..." name="rooms_whole">
            </div>
            <div class="form-group col-md-3">
                <label for="rooms_half">Rooms (half)</label>
                <input type="number" class="form-control" id="rooms_half" placeholder="1..5..." name="rooms_half">
            </div>
            <div class="form-group col-md-6">
                <label for="size">Size [Sqare meters]</label>
                <input type="number" class="form-control" id="size" placeholder="20..50..." name="size">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sub_type">Subtype</label>
                <select id="sub_type" class="form-control" name="sub_type">
                    <option selected>Choose...</option>
                    {% for opt in props.sub_type %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="toilet">Toilet Type</label>
                <select id="toilet" class="form-control" name="toilet">
                    <option selected>Choose...</option>
                    {% for opt in props.toilet %}
                        <option value="{{ opt.0 }}">{{ opt.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="submit">Predict price</button>
    </form>

    <div class="row" style="display: none">
        <div class="col">
            <h2>Predicted price</h2>
            <p style="align-content: center; font-weight: bold">
                <span id="predicted_price"></span> million
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    $(document).ready()
    {

        $('#submit').click(function (event) {
            event.preventDefault();

            var data = {
                building_levels: $('#building_levels').val(),
                building_material: $('#building_material').val(),
                comfort: $('#comfort').val(),
                cond: $('#cond').val(),
                floor: $('#floor').val(),
                heating: $('#heating').val(),
                parking: $('#parking').val(),
                rooms_whole: $('#rooms_whole').val(),
                rooms_half: $('#rooms_half').val(),
                address: $('#address').val(),
                size: $('#size').val(),
                sub_type: $('#sub_type').val(),
                toilet: $('#toilet').val()
            };

            $.post({
                url: '/predict',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(data, null, '\t'),
                success: function (result) {
                    $('#predicted_price').innerHTML = result
                }
            });
        });

    }
</script>

</body>
</html>

